# https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/ebextensions.html
container_commands:
  01migrate:
    command: "django-admin.py migrate"
    leader_only: true
  #  03wsgipass:
  #    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'
  02npminstall:
    command: "npm install"
  99customize:
    command: "scripts/customize.sh"