# https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/ebextensions.html
container_commands:
  01_migrate:
    command: "django-admin.py migrate"
    leader_only: true # only run once when deploying to multiple instances
#  02_npminstall:  # should be done in circleci
#    command: "npm install"
#  99customize:
#    command: "scripts/customize.sh"