option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: ebcustom.settings
  aws:elasticbeanstalk:container:python:
    WSGIPath: ebcustom/wsgi.py
  aws:elasticbeanstalk:application:
    Application Healthcheck URL: /ping/

packages:
  yum:
    postgresql96-devel: []

container_commands:
  01_collectstatic:
    command: "django-admin.py collectstatic --noinput"
  02_migrate:
    command: "django-admin.py migrate"
    leader_only: true
