option_settings:
  # Use the aws:elasticbeanstalk:customoption namespace to define options and values
  # that can be read in Resources blocks in other configuration files
  # https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/configuration-options-custom.html
  "aws:elasticbeanstalk:customoption":
    CacheNodeType: cache.t2.micro
    NumCacheNodes: 1
    Engine: redis
    CachePort: 6379