#option_settings:
#  # Use the aws:elasticbeanstalk:customoption namespace to define options and values
#  # that can be read in Resources blocks in other configuration files
#  # https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/configuration-options-custom.html
#  "aws:elasticbeanstalk:customoption":
#    CacheNodeType: cache.t2.micro
#    NumCacheNodes: 1
#    # be sure to run
#    # eb setenv REDIS_ENDPOINT=redis://{xxx}:6379 afterward (or do so in console)
#    Engine: redis
#    CachePort: 6379
#    # just picked the first 3
#    CacheSubnets:
#      - subnet-0170e566
#      - subnet-6eaae561
#      - subnet-947fefba
#    # got from the console
#    VpcId: vpc-33bf1e49